# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\source\eta-system-testing-project-netshoes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
